@import "tailwindcss";

@layer base {
  :root {
    --sm-heading-font-size: clamp(1.5rem, 6vw, 2.25rem);
    --base-heading-font-size: clamp(1.75rem, 6vw, 2.675rem);
    --lg-heading-font-size: clamp(2.25rem, 7vw, 3.25rem);
    --xl-heading-font-size: clamp(3.25rem, 7vw, 4rem);
    --2xl-heading-font-size: clamp(3.75rem, 7vw, 5rem);
  }
}


.underline-hover-effect {
  display: inline-block;
  padding: 0.125rem 0;
  position: relative;
}

.underline-hover-effect::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 0;
  height: 1.5px;
  transition: width 0.3s ease-out;
  background-color: currentColor;
}

.underline-hover-effect:hover::before {
  width: 100%;
}